

body{
    display: grid;
    grid-template-rows: 4rem auto ;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    grid-template-areas:
        "header header header header"
        "nav    main   main   main"
        "footer footer footer footer";
}
body header {
    grid-area: header;
}
body nav {
    grid-area: nav;
    background-color: aqua;
    width: auto
}
body main {
    grid-area: main;
    background-color: aquamarine;
    width: auto;
}
body footer {
    grid-area: footer;
    background-color: #e385ec;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
}



footer  {
    align-items: center;
    display: flex;
    justify-content: center;

}


.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

.information a {
    text-decoration: none;
    color: black;
    position: relative;
}



.social-network {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 33%;
}

.social-network i {
    font-size: 25px;
    padding: .25rem;
    color: black;
    justify-content: center;
}
