body{
    margin: 0;
    padding: 0;
    background: url(static/core/img/1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    
    background-repeat: no-repeat;
    
   
    
}
body nav{
    margin-top:30px ;
}
.carousel-item img{
    height: 550px;
    
    
    padding-bottom: 70px;
}

.galeria img{
    margin-top: 50px;
    width: 800px;
    height: 500px;

}
.galeria iframe{
    margin-top: 50px;
    width: 800px;
    height: 500px;
}

.inicio{
    margin-top: 11px;
}
.inicio a{
    text-decoration: none;
    color:black ; 
    font-size: large; 
}

.texto{
    background-color: rgb(241, 245, 245);
    margin: 100px;
}
.texto p{
    margin-right: 100px;
}
.contactos{
    color: black;
    font-size: large;
}
.mb-3 img{
    width: 30px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.mb-3 p a {
    color: white;
    text-decoration: none;
}

