{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/Just_MusicLOCOICO.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bienvenido {{user_name}}</h1>
        {% block header %}{% endblock %}
    </header>
    <nav>
        <ul>
            {% if perms.core %}
            <p>ADMINISTRAR</p>
                <li><a href="{% url 'especialidades_alta' %}">CARGAR ESPECIALIDAD</a></li>
                <li><a href="{% url 'register_medico' %}">REGISTRAR MEDICO</a></li>
                <li><a href="{% url 'crear_turno'  %}">CREAR TURNOS</a></li>
                <li><a href="{% url 'turnos' %}">VER ESPECIALIDADES</a></li>
            {% else %}
                <li>
                    <p>TURNOS</p>
                    <ul>
                        <li><a href="{% url 'solicitar_turno' %}">SOLICITAR TURNO</a></li>
                        <li><a href="{% url 'mis_turnos' %}">MIS TURNOS</a></li>
                    </ul>
                </li>
            {% endif %}
            <li><a href="{% url 'profile'  %}">PERFIL</a></li>
            <li><a href="{% url 'contact' user.username %}" target="_blank">CONTACTOS</a></li>
            <li><a href="{% url 'logout' %}">CERRAR SESION</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="social-network">
            <a href="https://twitter.com/" class="botton-twitter">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://facebook.com" class="botton-facebook"><i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/" class="botton-instagram">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.tiktok.com/" class="botton-tiktok">
              <i class="fa-brands fa-tiktok"></i>
            </a>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/85735f77b2.js" crossorigin="anonymous"></script>
</body>
</html>
