{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'core/css/log.css' %}">
</head>

<body>
    <header>
        <h1>{% if messages %} 
        <ul class="messages"> 
            {% for message in messages %} 
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> 
            {% endfor %} 
        </ul> 
    {% endif %}</h1>
    </header>
    <main>
        <div class="content_sesion">
            <h2>Loguearse</h2>
            <form>
                <p>Usuario</p>
                <input type="text">
                <p>Contraseña</p>
                <input type="password">
            </form>
            <a href="">
                <button class="button_ingreso">
                    <p>INGRESAR</p>
                </button>
            </a>
            <a href="{% url 'register' %}""><p>Registrarse?</p></a>
        </div>
        
        
    </main>
</body>
</html>