{% extends "core/base.html" %}


{%block contenido %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner ">
        <div class="carousel-item active" data-bs-interval="30000" >
            <img src="static/core/img/doctor4.jpeg" class="d-block w-100" alt="doctora" height="347 px" width="747 px">
            
        </div>
        <div class="carousel-item" data-bs-interval="30000">
            <img src="static/core/img/doctor4.jpeg" class="d-block w-100" alt="doctor">
            
        </div>
        <div class="carousel-item" data-bs-interval="30000">
            <img src="static/core/img/doctor4.jpeg" class="d-block w-100" alt="doctor">
            
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="texto" >
    <p>
        <h2>MISIÓN Y VISIÓN</h2>
        
        <h3>Misión</h3>
         
        <p>Entregamos soluciones de salud con los más altos estándares de calidad a toda la comunidad. Estamos comprometidos con el servicio de excelencia y la eficiencia en la gestión, inspirados siempre por sólidos principios éticos.</p>
        
        <h3>Visión</h3>
        
        
        <p>Ser uno de los principales grupos de salud del país, ofreciendo a todos los pacientes la mejor experiencia en la atención integral y de alta complejidad, con los más altos niveles de calidad.</p>
        <h3>Propuesta de valor</h3>
        
        <h4>Pacientes</h4>
        
        <p> “Resolver de manera cálida, segura y eficiente las necesidades de nuestros pacientes y quienes los acompañan, con medicina y servicio de excelencia”.</p>
    
        <h4>Aseguradoras</h4>
        <p>“Ser el prestador con el mejor estándar resolutivo, eficiencia y costo efectividad, garantizando una atención integral a sus beneficiarios con un modelo de gestión diferenciador para las aseguradoras”.</p>
        
        <h4> Médicos</h4>
        <p>“Indisa es el mejor lugar para ejercer una medicina de excelencia y para desarrollarse en un ambiente profesional colaborativo y seguro”.</p>
        
        <h4>Colaboradores</h4>
        
        <p>“Indisa se preocupa por las personas, promoviendo desafíos profesionales en un ambiente de calidez y empatía, para el desarrollo integral de todos sus colaboradores”.</p>
    
        <h3>Política de calidad</h3>
         
        <p>Clínica INDISA, es una empresa que desarrolla actividades en beneficio de la salud de la sociedad, con constante y fluida comunicación con nuestras partes interesadas pertinentes.</p>
        
        <p>Tiene como orientación el servicio al cliente y la política de la excelencia en el servicio, la eficiencia en la gestión, la calidez y seguridad hacia nuestros pacientes en conformidad de la legislación vigente.</p>
        
        <p> Busca la permanente innovación, dentro de los principios fundamentales de la ética profesional.</p>
        
        <p>
        Nuestro norte es atender en forma integral las necesidades de salud de los clientes, entregando un servicio de excelencia en las distintas instancias en que toma contacto con nuestra institución, mediante equipos de trabajo calificados teniendo como base la mejora continua de nuestro Sistema de Calidad.
    </p>
    
</div>
<div class="d-flex justify-content-center">
    <div class="galeria"class="p-2"><img src="static/core/img/sanjose.jpg" alt=""></div>

    <div class="galeria" class="p-2"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9287.31330506834!2d-58.38609206165481!3d-34.61525814041829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccadc480c5f89%3A0x3262072d8fb0c56c!2sFundaci%C3%B3n%20Favaloro%20-%20Edificio%20Central!5e0!3m2!1ses!2sar!4v1697640112542!5m2!1ses!2sar" style="border:0;" allowfullscreen="" width="300px" height="300px"   loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    
</div>
{% endblock %}