* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #555;
    
}
h2{
    background-color: aqua
}
div {
    text-align: center;
}
.content_sesion {

    
    border: 3px solid #555;
    background: white;
    width: 300px; 
    margin: auto;
    margin-top: 15%;

}